.newsCardWrapper {
  display: grid;
  width: 100%;
  margin: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;

  img {
    max-width: 100%; /* Set the maximum width to 100% to make the image responsive */

  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr; // Change to a single column on smaller screens
  }
}
