// @import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Flex:opsz@8..144&display=swap");

:root {

  //Colors for all:
  --lightGrey: #707070;
  --redApple: #FF0000;
  --darkGrey: #333333;
  --snowWhite: #FFFFFF;
  --darkKnight: #000000;
  --colorTester: #47d50f;
  --backgroundColor: #EBEBEB ;


  //Fonts for all
  --NavFont: "Open Sans", Semibold;

  
}