.headerContainer {
  position: relative;
  height: 864px;
  width: 100%;
  overflow: hidden;
}

.headerImage {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 1s ease; // Adjust the duration and easing function as needed

  &.fade {
    opacity: 0;
  }
}
