.headerStyle {
    height: 864px; // Set a height for the container
    width: 100%;
    background-size: cover; // This property ensures that the background image covers the entire container without stretching
    background-repeat: no-repeat; // Prevent the background image from repeating
    background-position: center; // Center the background image
    // Add any other styles you need
  }
  